.view-modes{
  text-align: left;
  border-bottom: 4px solid black;
}

.view-mode{
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
}

.selected {
  color: rgb(255, 184, 52);
}